<template>
  <q-page class="row flex justify-center q-pa-lg">
    <article-content/>
    <article-comments/>
  </q-page>
</template>
<script>
import articleContent from '../components/article-content'
import articleComments from '../components/article-comments'
export default {
  name: 'article',
  components: {
    articleContent, articleComments
  }
}
</script>

<style lang="sass">

</style>
