<template>
  <q-page class="row justify-center q-pa-lg">
    <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 q-pb-xl">
      <div class="header q-py-sm flex justify-between">
        <div class="title text-h3">Категории</div>
        <q-select style="width:207px" clearable outlined v-model="model" :options="opt" label="Сортировать"></q-select>
      </div>
      <div class="categories">
        <category v-for="item in 10" :key="item.id"></category>
      </div>
    </div>
    <div class="col-12 q-pa-xl flex justify-center">
      <q-pagination v-model="current" color="grey-8" boundary-numbers ellipses direction-links :max-pages="3" :max="15" />
    </div>
  </q-page>
</template>

<script>
import category from '../components/category'
export default {
  name: 'categories',
  components: {
    category
  },
  data () {
    return {
      opt: ['cars', 'mountains', 'bonchdev'],
      model: '',
      current: 4
    }
  }
}
</script>
<style lang="sass">

</style>
