<template>
    <q-page class="q-py-md">
        <div class="row">
            <card ></card>
            <card ></card>
        </div>
        <div class="row">
            <card size='small'></card>
            <card size='small'></card>
            <card size='small'></card>
        </div>
        <div class="row">
            <card ></card>
            <card ></card>
        </div>
        <div class="row">
            <card size='small'></card>
            <card size='small'></card>
            <card size='small'></card>
        </div>
    </q-page>
</template>

<script>
import card from '../components/Card'
export default {
  name: 'Home',
  components: {
    card
  }
}
</script>
