<template>
  <q-layout view="hhh lpR fff">
    <q-header reveal elevated class="text-black bg-white q-px-md q-py-sm">
      <q-toolbar v-if="width >= 992"  class="row">
        <q-toolbar-title class="header-logo flex items-center ">
          <img src="../assets/Logo.png" alt="">
        </q-toolbar-title>
        <q-list class=" text-h6 flex justify-between items-center q-pa-sm">
          <q-item class="text-grey-8 q-mr-sm" clickable to="/">
            <q-item-section>
              <q-item-label>Главная</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="text-grey-8 q-mr-sm" clickable to="/article">
            <q-item-section>
              <q-item-label>Статьи</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="text-grey-8 q-mr-sm" clickable to="/categories">
            <q-item-section>
              <q-item-label>Категории</q-item-label>
            </q-item-section>
          </q-item>
          <q-item class="text-grey-8 q-pl-none">
            <q-item-section class="q-px-none">
              <q-btn class="q-px-none" icon="arrow_forward" flat />
            </q-item-section>
          </q-item>
        </q-list>
        <q-separator class="q-pa-none q-ma-none"  inset vertical />
        <div class="flex justify-end">
          <q-btn flat="" class="q-mr-md"  icon="search"/>
          <q-btn to="/login" class="q-mr-md" color="primary" label="Вход" />
          <q-btn to="/register" color="amber" label="Регистрация" />
        </div>
      </q-toolbar>
      <q-toolbar v-else class="row q-px-none">
        <q-toolbar-title class="header-logo flex items-center q-px-none">
          <img src="../assets/Logo.png" alt="">
        </q-toolbar-title>
        <q-btn  flat class="q-pa-sm" icon="menu">
          <q-menu max-width="600" anchor="top right" self="bottom right">
            <div class="row">
              <div class="column">
                <q-item class="text-grey-8 text-center block" clickable to="/">
                <q-item-section>
                  <q-item-label>Главная</q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="text-grey-8 text-center block" clickable to="/article">
                <q-item-section>
                  <q-item-label>Статьи</q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="text-grey-8 text-center block" clickable to="/categories">
                <q-item-section>
                  <q-item-label>Категории</q-item-label>
                </q-item-section>
              </q-item>
              </div>

              <q-separator inset vertical />

              <div class="column justify-around items-center">
                <q-btn class="block q-ma-sm" icon="search"/>
                <q-btn class="block q-ma-sm" to="/login" color="primary" label="Вход" />
                <q-btn class="block q-ma-sm" to="/register" color="amber" label="Регистрация" />
              </div>
            </div>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer  elevated class="bg-white text-black">
      <q-toolbar>
        <q-toolbar-title class="q-py-md flex justify-center items-center">
          <img src="../assets/Logo.png" alt="">
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>
<script>
export default {
  name: 'he',
  data () {
    return {
      model: '',
      width: 0
    }
  },
  created () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  methods: {
    handleResize () {
      this.width = window.innerWidth
    }
  }
}
</script>
<style lang="sass" scoped>
  .header
    &-logo
      img
        max-width: 221px
  .block
    min-width: 150px
</style>
